.card
{
    background-color: #e1e1e1;
    vertical-align: middle;
}

.card-text, .card-header, nav, p
{
    font-family: 'Sansita Swashed', sans-serif;
    font-size: 1em;
    text-align: center;
}

#papymg
{
    max-width: 200px;
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

#answers .card
{
    height: 250px;
}

#answers .body-text
{
    text-align: center;
}

footer
{
    padding-top: 13.5%;
}

.network_img img
{
    max-width: 70px;
    min-width: none;
}