body
{
    font-size: 1.1em;
    text-align: center;
    background-color: #ddd;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

#papymg
{
    max-width: 250px;
    max-height: 280px;
}

.network_img img
{
    max-width: 50px;
    min-width: none;
}

#fc, #foc, #mc
{
    background-color: #ddd;
}