<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=yes">
        <title>{{ title }}</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='./img/grandpi2.png') }}">
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/lib/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand bg-dark">
            <a class="navbar-brand text-white" href="/">Grandpybot</a>
        </nav>
        <div class="container">
            <div class="row">
                <img class="img-fluid" src={{banniere}}/>
            </div>
        </div>
        <div class="container">
            <div class="font-weight-bold">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div id="title-papy" class="card-header text-center">
                            <h1>
                                Bonjour à vous
                            </h1>
                        </div>
                        <div class="card">
                            <img id="papymg" class="img-fluid" src="../static/img/papysais.png" alt="Grandpybot-image">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <p class="card-text">
                                Ayant énormément voyagé tout au long de ma vie, je vous propose de me demander
                                quelques informations sur les sites qui vous viennent à l'esprit.
                                Je vous promets que, en fonction de ce que m'accorde ma mémoire moins
                                fiable qu'à la belle époque, je vous donnerai quelques anecdotes sur ces lieux.
                            </p>
                        </div>
                    </div>
                        <div class="card">
                            <form class="form-group">
                                <textarea class="form-control text-center" name="question" id="question" onclick="this.value ='';">
    Saisissez ici le nom d'un lieu dont vous voulez que je vous parle.
                                </textarea>
                                <div class="button text-center">
                                    <a href="/"><button type="button" class="btn btn-primary font-weight-bold">Rechercher</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
                <div id="answers" class="row">
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">C'est ici qu'il y aura la description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">C'est ici qu'il y aura la carte</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <footer class="container">
            <div class="card">
                <div class="row no-gutters blockquote text-center">
                    <div class='col'>
                        <a class="network_img" target="_blank" href="https://www.linkedin.com/in/quentin-faure-b818221b9/">
                            <img class="img-fluid" id="linkedin" src="../static/img/lin.png" alt="LinkedIn's logo"/>
                        </a>
                        <a class="network_img" target="_blank" href="https://github.com/Gotha01/OCR-Project7">
                            <img class="img-fluid" id="github" src="../static/img/github_logo.png" alt="Githubs's logo"/>
                        </a>
                    </div>
                </div>
                <div class="card-body"></div>
                    <div class="row">
                        <div class="col-12 text-center ">
                            <p>
                                Bot développé par Faure Quentin
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>