<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" 
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
        <link rel="icon" 
              type="image/png" 
              href="{{ url_for('static', filename='./img/grandpi2.png') }}">
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/lib/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Grandpybot</title>
        
        
    </head>
    <body class="mw-45">
        <!--Nav and banner-->
        <nav class="navbar bg-dark d-flex p-3">
            <a class="navbar-brand text-white font-weight-bold" href="/">Grandpybot</a>
        </nav>

        <div id="bannerContain" class="container mw-100 p-0" >
            <div class="row">
                <img class="col-12 img-fluid" src="{{ url_for('static', filename='img/banniere_papy_acceuil.png') }}"/>
            </div>
        </div>

        <!--bot-->
        <div id="botContain" class="container border rounded p-1">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="container p-3">
                        <div id='toScroll' class="scroll-container mh-150">
                            <div class='row border-1' id="description">
                                <img id="papymg" class="col-2" src="{{ url_for('static', filename='img/papy_head.png') }}" alt="Grandpybot-image">
                                <p class="col-8 border border-dark rounded " >
                                    Bien le bonjour!<br/>
                                    Je suis Grandpybot. Ayant énormément voyagé tout au long de ma vie, je vous propose de me demander
                                    quelques informations sur les destinations qui vous viennent à l'esprit.<br/>
                                    <span class="time-left">
                                    <script>
                                        var d = new Date();
                                        var getMinutes = d.getMinutes();
                                        if (getMinutes.toString().length === 1) {
                                            minutes = '0' + getMinutes;
                                        }else{
                                            minutes = getMinutes;
                                        };
                                        var hours = d.getHours() + ":" + minutes;
                                        document.write(hours)
                                    </script>
                                </span>
                                </p>
                            </div>
                        </div>
                        <div id="input" class='row justify-content-center'>
                            <form class="form-group" method="get">
                                <label for="question"></label>
                                <input type="text" class="form-control-life col-10 col-lg-8" 
                                    name="question" id="question" 
                                    value="" 
                                    onclick="this.value = '';">
                                <button id="button" class="btn btn-primary col-6 col-lg-2">Rechercher</button>
                            </form>
                        </div>
                    </div>
                </div>            
                <div class="col-12 col-lg-6">
                    <div class="container p-3">
                        <div class="col-12 p-0" id="mapSpace">
                            <img  src="{{ url_for('static', filename='img/world.png') }}" style="max-height: 100%;" alt="World-map">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <footer id="footContain" class="container mt-25">
            <div class="row justify-content-md-cente"> 
                <div id="foc" class="card border-0 pt-25">
                    <div class="card-body"></div>
                        <div class="card-img">
                            <div class='col-12'>
                                <a class="network_img" target="_blank" href="https://www.linkedin.com/in/quentin-faure-b818221b9/">
                                    <img class="img-fluid" id="linkedin" src="../static/img/lin.png" alt="LinkedIn's logo"/>
                                </a>
                                <a class="network_img" target="_blank" href="https://github.com/Gotha01/OCR-Project7">
                                    <img class="img-fluid" id="github" src="../static/img/github_logo.png" alt="Githubs's logo"/>
                                </a>
                            </div>
                        </div>
                        <div class="card-text"></div>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        Bot développé par Faure Quentin
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </footer>

        <script src="../static/index.js" async></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ gak }}&libraries=&v=weekly" async></script>  
    </body>
</html>