{% include "index.html" %}

    {% block NandBContainer %}
        {% if "x" in a : %}
            <nav class="navbar bg-dark d-flex p-3">
                <a class="navbar-brand text-white font-weight-bold" href="/">Grandpybot</a>
            </nav>
        {% endif %}
        <div id="bannerContain" class="container mw-100 p-0" >
            <div class="row">
                <img class="col-12 img-fluid" src="{{ url_for('static', filename='img/banniere_papy_acceuil.png') }}"/>
            </div>
        </div>
        
    {% endblock %}

    {% block botContainer %}
        <div id="botContain" class="container">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="container">
                        <div class="row mw-100 justify-content-md-center">
                            <img id="papymg" class="img-fluid mw-25 col-12 col-sm-6 " src="../static/img/papysais.png" alt="Grandpybot-image">
                            <div class=" col-12 col-sm-6 ml-15">
                                <p id="description" class="font-weight-bold h-100">
                                    Bien le bonjour!
                                    Ayant énormément voyagé tout au long de ma vie, je vous propose de me demander
                                    quelques informations sur les lieux qui vous viennent à l'esprit."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block formContainer %}
        <div id="formContain" class="container">
            <div class="row justify-content-md-center">
                <div id="fc" class="card col-12 col-md-8 border-0">
                    <form class="form-group">
                        <label for="question"></label>
                        <input type="text" class="form-control font-weight-bold text-center" 
                            name="question" id="question" 
                            value="Donnez moi le lieu de votre curiosité" 
                            onclick="this.value ='';">
            
                        <div class="button text-center">
                            <button type="button" class="btn btn-primary font-weight-italic">Rechercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block map %}
        <div id="map">
        </div>
    {% endblock %}

    {% block footContainer %}
        <footer id="footContain" class="container">
            <div class="row justify-content-md-cente"> 
                <div id="foc" class="card border-0">
                    <div class="card-body"></div>
                        <div class="card-img">
                            <div class='col-12'>
                                <a class="network_img" target="_blank" href="https://www.linkedin.com/in/quentin-faure-b818221b9/">
                                    <img class="img-fluid" id="linkedin" src="../static/img/lin.png" alt="LinkedIn's logo"/>
                                </a>
                                <a class="network_img" target="_blank" href="https://github.com/Gotha01/OCR-Project7">
                                    <img class="img-fluid" id="github" src="../static/img/github_logo.png" alt="Githubs's logo"/>
                                </a>
                            </div>
                        </div>
                        <div class="card-text"></div>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        Bot développé par Faure Quentin
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </footer>
    {% endblock %}